*:not(.article *) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

p,
div,
ol,
ul,
li,
a,
span,
i,
em,
strong {
    color: #333;
}

i,
span,
label,
em,
strong,
a {
    display: inline-block;
}

a {
    text-decoration: none;
}

a:visited,
a:link {
    color: inherit;
}

i {
    font-style: normal;
}