// 设置宽高
.size(@width: 100%, @height: @width) {
    width: @width;
    height: @height;
}

// 背景图片综合设置
.bgImg(@url, @size: cover, @position: center) {
    background-image: url(@url);
    background-size: @size;
    background-position: @position;
    background-repeat: no-repeat;
}

// 居中（效果于当前节点）（会使元素脱离文档流）
.centerThis {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

// 居中（父元素使用，效果于子节点）
.centerSon {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 隐藏元素（占据文档流）
.hide {
    pointer-events: none;
    opacity: 0;
}

// 隐藏元素（不占据文档流）
.die {
    display: none;
}

// 文字溢出省略号
.textEllipsis(@line: 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: @line;
    -webkit-box-orient: vertical;
}

// 阴影
.shadow(@hover: none, @level: 1) {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;

    & when (@hover ="hover"),
    (@hover ='hover') {
        &:hover {
            @color: if(@level =1, rgba(0, 0, 0, 0.2),
                    if(@level =2, rgba(0, 0, 0, 0.3),
                        if(@level =3, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1))));
            box-shadow: 0 2px 4px @color;
        }
    }
}